<form class="flex flex-column gap-3" [formGroup]="form" id="bankForm">
  <app-form-section [label]="label">
    <div class="flex flex-column gap-5 pt-3">
      <app-input-text
        [editOn]="true"
        [label]="labelForNameControl"
        [control]="nameControl"
        [id]="'name-input'"
      ></app-input-text>
      <app-input-text
        [editOn]="true"
        [label]="labelForDescriptionControl"
        [control]="descriptionControl"
        [id]="'description-input'"
      ></app-input-text>
    </div>
  </app-form-section>
  <app-input-currency
    *ngIf="!editModeOn"
    [label]="labelForCurrencyControl"
    [editOn]="true"
    [currencyControl]="currencyControl"
    [amountControl]="amountControl"
    [showRateControl]="false"
  ></app-input-currency>
  <button
    pButton
    pRipple
    *ngIf="!editModeOn"
    class="p-button-primary"
    label="Guardar"
    id="save-transaction-btn"
    (click)="onSaveClick()"
  ></button>
  <button
    pButton
    pRipple
    *ngIf="editModeOn"
    class="p-button-primary"
    label="Actualizar"
    id="update-transaction-btn"
    (click)="onUpdateClick()"
  ></button>
</form>
