<form class="flex flex-column gap-3" [formGroup]="form" id="bankForm">
  <app-form-section *ngIf="!adjustModeOn" [label]="label">
    <div class="flex flex-column gap-5 pt-3">
      <app-input-text
        [editOn]="true"
        [label]="labelForNameControl"
        [control]="nameControl"
        [id]="'name-input'"
      ></app-input-text>
      <app-input-text
        [editOn]="true"
        [label]="labelForDescriptionControl"
        [control]="descriptionControl"
        [id]="'description-input'"
      ></app-input-text>
    </div>
  </app-form-section>
  <app-input-currency
    *ngIf="!editModeOn && !adjustModeOn"
    [label]="labelForCurrencyControl"
    [editOn]="true"
    [currencyControl]="currencyControl"
    [amountControl]="amountControl"
    [showRateControl]="false"
  ></app-input-currency>
  <span
    *ngIf="adjustModeOn"
    class="flex gap-3 align-items-center justify-content-between"
  >
    <strong>{{ currencyControl.value }}</strong>
    <app-input-text
      [editOn]="true"
      [label]="'Total'"
      [control]="amountControl"
      [id]="'amount-input'"
      [type]="'number'"
    ></app-input-text>
  </span>
  <button
    pButton
    pRipple
    class="p-button-primary"
    [label]="saveBtnLabel"
    id="save-transaction-btn"
    (click)="saveBtnAction()"
  ></button>
</form>
