<h4 class="mt-0 mb-1 ml-3">{{ label }}</h4>
<div
  class="border-solid border-200 border-round-lg px-3 pt-5 pb-3 surface-200 w-auto"
>
  <div
    class="flex flex-row flex-wrap gap-4 justify-content-left align-items-center"
  >
    <app-dropdown
      [id]="'currency-dropdown'"
      [editOn]="editOn"
      [label]="'Moneda'"
      [control]="currencyControl"
      [items]="currencyItems"
    ></app-dropdown>
    <app-input-text
      [id]="'amount-input'"
      [editOn]="editOn"
      [label]="'Valor'"
      [type]="'number'"
      [control]="amountControl"
    ></app-input-text>

    <span *ngIf="showRate">
      <app-input-text
        [id]="'rate-input'"
        [editOn]="editOn"
        [label]="'Tasa de conversión'"
        [type]="'number'"
        [control]="rateControl"
      ></app-input-text>
      <small class="ml-3 font-semibold"
        >{{ conversionCurrency }}$ {{ conversion.toLocaleString() }}</small
      >
    </span>

    <i
      *ngIf="loading.value"
      class="pi pi-spin pi-sync"
      style="font-size: 1.5rem"
    ></i>
  </div>
</div>
