<div class="flex flex-column gap-3">
  <app-transaction-form></app-transaction-form>

  <app-frequency-form
    [editOn]="editModeOn"
    [label]="'¿Cuántas veces?'"
  ></app-frequency-form>

  <app-form-section [label]="'¿Cuándo empieza?'">
    <app-datepicker
      [id]="'transaction-datepicker'"
      [editOn]="editModeOn"
      [label]="'Fecha de inicio'"
      [control]="startDateControl"
    ></app-datepicker>
  </app-form-section>

  <app-goal-form
    *ngIf="showGoalForm"
    [editOn]="editModeOn"
    [label]="'¿Hasta cuándo?'"
  ></app-goal-form>

  <app-input-currency
    [label]="'¿Cuánto vale la cuota?'"
    [editOn]="editModeOn"
    [currencyControl]="currencyControl"
    [amountControl]="amountControl"
    [rateControl]="rateControl"
    [validateSignal]="validateCurrencySignal"
    (errorsEmitter)="onCurrencyErrors($event)"
    [rateDateControl]="startDateControl"
  ></app-input-currency>

  <app-input-switch
    *ngIf="showMarkAsPaidSwitch"
    [id]="'paid-switch'"
    [label]="'Marcar como pagado'"
    [control]="markAsPaidControl"
  ></app-input-switch>

  <app-input-text-area
    [id]="'input-comment'"
    [editOn]="editModeOn"
    [label]="'Notas'"
    [control]="commentControl"
  ></app-input-text-area>

  <button
    pButton
    pRipple
    class="p-button-primary"
    label="Guardar"
    id="save-transaction-btn"
    (click)="onSaveClick()"
  ></button>
</div>
