<app-card title="Añadir transacción">
  <div class="flex flex-column gap-3">
    <app-transaction-form></app-transaction-form>

    <app-frequency-form
      [editOn]="editModeOn"
      [label]="'¿Cuántas veces?'"
    ></app-frequency-form>

    <app-form-section [label]="'¿Cuándo empieza?'">
      <app-datepicker
        [editOn]="editModeOn"
        [label]="'Fecha de inicio'"
        [control]="startDateControl"
      ></app-datepicker>
    </app-form-section>

    <app-goal-form
      *ngIf="showGoalForm"
      [editOn]="editModeOn"
      [label]="'¿Hasta cuándo?'"
    ></app-goal-form>

    <app-input-currency
      [label]="'¿Cuánto vale la cuota?'"
      [editOn]="editModeOn"
      [currencyControl]="currencyControl"
      [amountControl]="amountControl"
      [rateControl]="rateControl"
      [validateSignal]="validateCurrencySignal"
      (errorsEmitter)="onCurrencyErrors($event)"
    ></app-input-currency>

    <app-input-text-area
      [editOn]="editModeOn"
      [label]="'Comentario'"
      [control]="commentControl"
    ></app-input-text-area>

    <button
      pButton
      pRipple
      class="p-button-primary"
      label="Guardar"
      (click)="onSaveClick()"
    ></button>
  </div>
</app-card>
