<div
  class="flex flex-row justify-content-between align-items-center"
  (click)="showDetail()"
>
  <div class="col-4 flex flex-column align-items-start justify-content-left">
    <p class="my-0 py-0 font-bold">{{ item.bank }}</p>
    <p class="my-0 py-0 text-sm">{{ item.description }}</p>
  </div>
  <div class="col-3 flex flex-column align-items-end justify-content-left">
    <p class="my-0 py-0 font-bold">Total</p>
    <p class="my-0 py-0 text-sm">
      {{ item.total }}
    </p>
  </div>
</div>
<p-divider></p-divider>
