<div class="flex justify-content-around my-2">
  <!-- <button
    pButton
    pRipple
    type="button"
    icon="pi pi-calendar-times"
    (click)="onTransactionDelete()"
    label="Cerrar"
    class="p-button-rounded p-button-text p-button-warn"
  ></button> -->
  <button
    pButton
    pRipple
    *ngIf="transaction.payments.length <= 0"
    type="button"
    icon="pi pi-trash"
    (click)="onTransactionDelete()"
    label="Eliminar"
    class="p-button-rounded p-button-text p-button-danger"
  ></button>
</div>

<div *ngIf="!loading" class="flex flex-column gap-0">
  <app-transaction-section
    [transactionObservable]="$transaction"
  ></app-transaction-section>

  <app-input-switch
    *ngIf="transaction.payments.length > 0"
    [label]="'Mostrar historial de pagos'"
    [control]="showHistoricalPaymentsControl"
  ></app-input-switch>

  <app-previous-payments
    *ngIf="showHistoricalPaymentsControl.value"
    [transactionObservable]="$transaction"
  ></app-previous-payments>

  <p-divider></p-divider>
  <app-installment-section
    [transactionObservable]="$transaction"
  ></app-installment-section>

  <app-payment-section
    *ngIf="pendingPayment && transaction.status != 'CLOSED'"
    [transactionObservable]="$transaction"
  ></app-payment-section>
</div>
