<app-card [title]="'Transacciones Recurrentes'">
  <!-- <app-form-section [label]="'Filtros'">
    <div
      class="flex flex-wrap align-items-center justify-content-between gap-3"
    >
      <app-deduction-type-dropdown></app-deduction-type-dropdown>
      <app-service-dropdown [addNewSetting]="false"></app-service-dropdown>
      <app-service-provider-dropdown
        [addNewSetting]="false"
      ></app-service-provider-dropdown>
      <app-bank-account-dropdown></app-bank-account-dropdown>
      <app-chips></app-chips>
    </div>
  </app-form-section> -->

  <app-transactions-table></app-transactions-table>
</app-card>
