<div class="flex flex-column gap-2 my-0 py-0">
  <span
    class="flex flex-row flex-wrap justify-content-between align-items-center"
  >
    <div class="col-10 -ml-2">
      <app-dropdown
        [label]="label"
        [control]="serviceControl"
        [items]="items"
        [disabled]="loading.value || addNewForm"
      ></app-dropdown>
    </div>
    <div class="flex justify-content-center col-2">
      <i
        *ngIf="loading.value"
        class="pi pi-spin pi-sync"
        style="font-size: 1.5rem"
      ></i>

      <p-button
        *ngIf="!loading.value && addNewSetting"
        [icon]="addNewIcon"
        styleClass="p-button-rounded p-button-text"
        (onClick)="onAddNewClick()"
        id="add-service-category-btn"
      ></p-button>
    </div>
  </span>

  <div
    *ngIf="addNewForm"
    class="border-solid border-200 border-round-lg p-3 pt-4 surface-200 w-auto"
  >
    <app-input-text
      [editOn]="true"
      [id]="'input-service-category-text'"
      [label]="labelForNewServiceControl"
      [control]="newServiceControl"
    ></app-input-text>
  </div>
</div>
