<app-input-switch
  [label]="'Editar'"
  [control]="showActionColumn"
></app-input-switch>

<app-input-switch
  [label]="'Mostrar cambio'"
  [control]="showExchangeColumn"
></app-input-switch>

<p class="font-bold text-lg">Total abonado {{ total }}</p>
<p-table
  [value]="payments"
  [paginator]="true"
  [rows]="5"
  [rowsPerPageOptions]="[5, 10, 25, 50]"
  [styleClass]="'p-datatable-sm p-datatable-striped'"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Cuota</th>
      <th>Vencimiento</th>
      <th>Pago</th>
      <th *ngIf="showExchangeColumn.value">Conversión</th>
      <th *ngIf="showActionColumn.value"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-payment>
    <tr>
      <td>{{ payment.installment_number }}</td>
      <td>{{ payment.due_date | date : "dd/MM/yy" }}</td>
      <td>
        <span class="flex flex-column gap-0">
          <span class="text-xs">{{
            payment.transaction_date | date : "dd/MM/yy"
          }}</span>
          <span class="text-xs">{{ payment.account }}</span>
          <span class="font-semibold">
            {{
              payment.currency.amount.toLocaleString("es-AR", {
                style: "currency",
                currency: payment.currency.currency,
                minimumFractionDigits: 2
              })
            }}
          </span>
        </span>
      </td>
      <td *ngIf="showExchangeColumn.value">
        <span class="flex flex-column gap-0">
          <span class="text-xs">US$1 = ${{ payment.currency.ars_usd }}</span>
          <span
            *ngIf="payment.currency.currency == 'USD'"
            class="font-semibold"
          >
            {{
              payment.currency.ars.toLocaleString("es-AR", {
                style: "currency",
                currency: "ARS",
                minimumFractionDigits: 2
              })
            }}</span
          >
          <span
            *ngIf="payment.currency.currency == 'ARS'"
            class="font-semibold"
          >
            {{
              payment.currency.usd.toLocaleString("es-AR", {
                style: "currency",
                currency: "USD",
                minimumFractionDigits: 2
              })
            }}</span
          >
        </span>
      </td>
      <td *ngIf="showActionColumn.value">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-trash"
          (click)="onRowDelete(payment.id)"
          class="p-button-rounded p-button-text p-button-danger"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
