<app-sidebar></app-sidebar>
<app-toolbar></app-toolbar>
<div class="flex justify-content-center">
  <div class="flex flex-column gap-3 mt-3 md:col-5">
    <app-card>
      <div class="flex justify-content-center">
        <button
          pButton
          pRipple
          label="Añadir transacción"
          class="w-100 p-button-outlined"
          icon="pi pi-plus"
          (click)="onAddTransaction()"
        ></button>
      </div>
    </app-card>
    <app-transactions-list></app-transactions-list>
  </div>
</div>
