<div class="p-inputgroup mt-4">
  <span class="p-inputgroup-addon -mr-1"><i class="pi pi-lock"></i></span>

  <span class="p-float-label">
    <p-password
      id="password1"
      [formControl]="control"
      name="password"
      type="password"
      class="w-full"
      [feedback]="false"
      styleClass="p-password p-component p-inputwrapper p-input-icon-right"
      [style]="{ width: '100%' }"
      [inputStyle]="{ width: '100%' }"
      [toggleMask]="true"
      [ngClass]="control.dirty && control.errors ? 'ng-invalid ng-dirty' : ''"
    ></p-password>
    <label for="float-password">{{ label }}</label>
  </span>
</div>
<div class="mx-1" *ngFor="let item of control.errors | keyvalue">
  <small *ngIf="item.key == 'serverError'" id="input-help" class="p-error">{{
    item.value
  }}</small>
</div>
