<section id="transaction-details" class="flex flex-column gap-3">
  <app-form-section [label]="deductionLabel">
    <div class="flex justify-content-between gap-2 mt-0 pt-0">
      <app-input-text
        [id]="'input-category'"
        [label]="'Categoría'"
        [editOn]="false"
        [control]="serviceControl"
      ></app-input-text>
      <app-input-text
        [id]="'input-product'"
        [label]="'Detalle'"
        [editOn]="false"
        [control]="productControl"
      ></app-input-text>
      <app-input-text
        [id]="'input-provider'"
        [label]="'Proveedor'"
        [editOn]="false"
        [control]="serviceProviderControl"
      ></app-input-text>
    </div>
  </app-form-section>

  <app-form-section [label]="frequencyLabel">
    <div class="flex justify-content-between mt-0 pt-0">
      <app-input-text
        [label]="'Frecuencia'"
        [editOn]="false"
        [control]="frequencyControl"
      ></app-input-text>
      <app-input-text
        *ngIf="showFrequencyDay"
        [label]="'El día'"
        [editOn]="false"
        [control]="frequencyDayControl"
      ></app-input-text>
      <app-input-text
        *ngIf="showFrequencyMonth"
        [label]="'El mes'"
        [editOn]="false"
        [control]="frequencyMonthControl"
      ></app-input-text>
    </div>
  </app-form-section>

  <app-form-section *ngIf="showStartDateSection" [label]="startDateLabel">
    <div class="flex justify-content-between mt-0 pt-0">
      <app-datepicker
        [editOn]="false"
        [label]="'Desde'"
        [control]="startDateControl"
      ></app-datepicker>
      <app-datepicker
        *ngIf="showEndDate"
        [editOn]="false"
        [label]="'Hasta'"
        [control]="endDateControl"
      ></app-datepicker>
      <app-input-text
        *ngIf="showRepetitions"
        [editOn]="false"
        [label]="'Repeticiones'"
        [control]="repetitionsControl"
      ></app-input-text>
      <app-input-text
        *ngIf="showGoalAmount"
        [editOn]="false"
        [label]="'Monto Total'"
        [control]="goalAmountControl"
      ></app-input-text>
      <app-input-text
        *ngIf="showIndefinite"
        [editOn]="false"
        [label]="'Repeticiones'"
        [control]="indefiniteControl"
      ></app-input-text>
    </div>
  </app-form-section>

  <app-form-section *ngIf="showCommentSection" [label]="commentLabel">
    <div class="flex justify-content-between mt-0 pt-0">
      <app-input-text
        [editOn]="false"
        [label]="'Comentario'"
        [control]="commentControl"
      ></app-input-text>
    </div>
  </app-form-section>
</section>
