<div class="flex flex-column row-gap-3 pt-3">
  <span
    class="flex flex-row flex-wrap justify-content-between align-items-center"
  >
    <div class="col-10 -ml-2">
      <app-dropdown
        [label]="label"
        [control]="serviceProviderControl"
        [items]="items"
        [disabled]="loading.value || addNewForm"
      ></app-dropdown>
    </div>
    <div class="flex justify-content-center col-2">
      <i
        *ngIf="loading.value"
        class="pi pi-spin pi-sync"
        style="font-size: 1.5rem"
      ></i>

      <p-button
        *ngIf="!loading.value"
        [icon]="addNewIcon"
        styleClass="p-button-rounded p-button-text"
        (onClick)="onAddNewClick()"
      ></p-button>
    </div>
  </span>

  <div *ngIf="addNewForm" class="pt-2">
    <app-input-text
      [editOn]="true"
      [label]="labelForNewServiceProviderControl"
      [control]="newServiceProviderControl"
    ></app-input-text>
  </div>
</div>
