<app-card title="Iniciar Sesión">
  <div class="flex flex-column justify-content-center gap-3">
    <form [formGroup]="form" id="ngForm">
      <div class="flex flex-column gap-3">
        <app-input-text
          [control]="email"
          [editOn]="true"
          [type]="'email'"
          [label]="'Email'"
          [iconOn]="true"
        ></app-input-text>

        <app-input-password
          [control]="password"
          [label]="'Contraseña'"
        ></app-input-password>
      </div>
    </form>

    <a [routerLink]="'/auth/reset-password'"
      ><small class="block p-button-link">¿Olvidaste tus datos?</small></a
    >
    <a [routerLink]="'/auth/register'"
      ><small class="block p-button-link"
        >¿Todavía no estás registrado?</small
      ></a
    >

    <button pButton pRipple label="Enviar" (click)="onLogin()"></button>
    <button
      *ngIf="showGoogleLoginButton"
      pButton
      pRipple
      id="btn_googleLogin"
      label="Ingresar con Google"
      class="p-button-outlined"
      (click)="onGoogleLogin()"
    >
      <img
        src="/assets/icon-google.png"
        alt="Ingreso con google"
        style="width: 15px"
        class="mr-2"
      />
    </button>
  </div>
</app-card>
