<app-card [title]="'Estado de cuentas'">
  <p-inplace>
    <ng-template pTemplate="display">
      <span>Ver disponibles</span>
    </ng-template>
    <ng-template pTemplate="content">
      <div
        *ngFor="let item of items"
        class="flex flex-row justify-content-between align-items-center"
      >
        <div
          class="col-4 flex flex-column align-items-start justify-content-left"
        >
          <p class="my-0 py-0 font-bold">{{ item.name }}</p>
          <p class="my-0 py-0 text-sm">{{ item.description }}</p>
        </div>
        <div
          class="col-3 flex flex-column align-items-end justify-content-left"
        >
          <p class="my-0 py-0 font-bold">Total</p>
          <p class="my-0 py-0 text-sm">
            {{ item.total.currency }} ${{ item.total.amount }}
          </p>
        </div>
      </div>
    </ng-template>
  </p-inplace>
</app-card>
