<form
  class="flex flex-column gap-3"
  [formGroup]="form"
  id="bankForm"
  (ngSubmit)="onSave()"
>
  <p-messages severity="info">
    <ng-template pTemplate>
      <i class="pi pi-info-circle"></i>
      <div class="ml-4">
        Los objetivos serán visibles todos los meses dentro del periodo de
        validez. La fecha de finalización no es obligatoria.
      </div>
    </ng-template>
  </p-messages>

  <app-form-section [label]="'Periodo de validez'">
    <div class="flex flex-column gap-3">
      <app-datepicker
        [id]="'transaction-from-datepicker'"
        [editOn]="editModeOn"
        [label]="'Fecha de inicio'"
        [control]="effectiveFromControl"
      ></app-datepicker>
      <app-datepicker
        [id]="'transaction-to-datepicker'"
        [editOn]="editModeOn"
        [label]="'Fecha de finalización'"
        [control]="effectiveToControl"
      ></app-datepicker>
    </div>
  </app-form-section>

  <app-form-section [label]="'¿A qué le querés asignar un presupuesto?'">
    <div class="flex flex-column gap-3">
      <app-deduction-type-dropdown
        [control]="deductionTypeControl"
      ></app-deduction-type-dropdown>
      <app-service-dropdown
        [serviceControl]="serviceControl"
        [serviceType]="deductionTypeControl"
        [addNewSetting]="false"
      ></app-service-dropdown>
    </div>
  </app-form-section>

  <app-form-section [label]="'Objetivo'">
    <div class="flex flex-column gap-3 mt-3">
      <app-radio-button
        [items]="goalType"
        [itemControl]="goalTypeControl"
      ></app-radio-button>
      <app-input-text
        [label]="'Porcentaje'"
        [editOn]="true"
        [type]="'number'"
        [control]="percentageControl"
        *ngIf="goalTypeControl.value?.value === 'PERCENTAGE'"
      ></app-input-text>

      <app-input-currency
        [label]="'Monto total'"
        [editOn]="true"
        [showRateControl]="false"
        [currencyControl]="currencyControl"
        [amountControl]="amountControl"
        [rateControl]="rateControl"
        *ngIf="goalTypeControl.value?.value == 'AMOUNT'"
      ></app-input-currency>
    </div>
  </app-form-section>

  <button
    pButton
    pRipple
    class="p-button-primary"
    [label]="saveBtnLabel"
    id="save-transaction-btn"
    type="submit"
  ></button>
</form>
