<div
  class="flex flex-row justify-content-between align-items-center"
  [ngClass]="{
    'hover-green': transaction.transaction_type === 'income',
    'hover-red': transaction.transaction_type === 'expense'
  }"
  (click)="showDetail()"
>
  <div class="col-4 flex flex-column align-items-start justify-content-left">
    <p class="my-0 py-0 font-bold">{{ transaction.service.name }}</p>
    <p class="my-0 py-0 text-sm">{{ transaction.service_provider.name }}</p>
  </div>
  <div class="col-4 flex flex-column align-items-end justify-content-left">
    <p class="my-0 py-0 font-bold">{{ transaction.currency.currency }}</p>
    <p class="my-0 py-0 text-sm">${{ transaction.currency.amount }}</p>
  </div>
</div>
<p-divider></p-divider>
