<div class="flex flex-column gap-3">
  <app-month-selector></app-month-selector>

  <app-bank-account-widget></app-bank-account-widget>
  <app-budget-goal-widget></app-budget-goal-widget>
  <app-totals-details [chartData]="chartData"></app-totals-details>

  <app-card [title]="'Movimientos'">
    <div class="flex flex-column justify-content-center">
      <app-transaction-item
        *ngFor="let item of transactions"
        [transaction]="item"
        [month]="month"
        [year]="year"
      ></app-transaction-item>
    </div>
  </app-card>
</div>
