<section id="payment" class="flex flex-column gap-2">
  <p-divider></p-divider>

  <app-input-switch
    *ngIf="canUpdate"
    [label]="'Editar monto'"
    [control]="editAmountSectionControl"
  ></app-input-switch>

  <app-input-currency
    *ngIf="editAmountSectionControl.value"
    [editOn]="true"
    [label]="'Ingresar monto abonado'"
    [amountControl]="newAmountControl"
    [currencyControl]="newCurrencyControl"
    [rateControl]="newRateControl"
    [rateDateControl]="dueDateControl"
  ></app-input-currency>

  <app-bank-account-dropdown
    *ngIf="editAmountSectionControl.value"
    [control]="bankAccountControl"
  ></app-bank-account-dropdown>

  <app-input-switch
    *ngIf="editAmountSectionControl.value"
    [label]="'Actualizar proximos vencimientos'"
    [control]="updateAmountControl"
  ></app-input-switch>

  <button
    pButton
    type="button"
    label="Ejecutar Vencimiento"
    (click)="payTransaction()"
    [loading]="loading"
  ></button>
</section>
