<section id="payment" class="flex flex-column gap-2">
  <p-divider></p-divider>

  <app-input-switch
    [label]="'Editar monto'"
    [control]="editAmountSectionControl"
  ></app-input-switch>
  <app-input-switch
    *ngIf="editAmountSectionControl.value"
    [label]="'Actualizar proximos vencimientos'"
    [control]="updateAmountControl"
  ></app-input-switch>
  <app-input-currency
    *ngIf="editAmountSectionControl.value"
    [editOn]="true"
    [label]="'Ingresar monto abonado'"
    [amountControl]="newAmountControl"
    [currencyControl]="newCurrencyControl"
    [rateControl]="newRateControl"
  ></app-input-currency>

  <button
    pButton
    type="button"
    label="Ejecutar Vencimiento"
    (click)="payTransaction()"
  ></button>
</section>
